---
const whatsappUrl = 'https://wa.me/56920092455';
---

<a
  href={whatsappUrl}
  target="_blank"
  rel="noopener"
  aria-label="Contactar por WhatsApp"
  class="fab fixed bottom-6 right-6 md:bottom-8 md:right-8 bg-whatsapp text-white w-14 h-14 rounded-full flex items-center justify-center shadow-lg z-40"
>
  <svg fill="currentColor" viewBox="0 0 24 24" width="28" height="28" xmlns="http://www.w3.org/2000/svg">
    <path d="M.057 24l1.687-6.163c-1.041-1.804-1.588-3.849-1.587-5.946.003-6.556 5.338-11.891 11.893-11.891 3.181.001 6.167 1.24 8.413 3.488 2.246 2.248 3.484 5.232 3.484 8.412-.003 6.557-5.338 11.892-11.893 11.892-1.997-.001-3.951-.5-5.688-1.448l-6.309 1.656zm6.29-4.171c1.589.945 3.554 1.462 5.541 1.463 5.344 0 9.691-4.346 9.693-9.691 0-2.59-.101-5.019-1.933-6.852s-4.262-1.931-6.852-1.931c-5.345 0-9.692 4.347-9.695 9.693-.001 2.159.569 4.254 1.649 6.08l-.969 3.541 3.659-.96zm12.524-7.087c-.069-.115-.253-.184-.53-.322-.276-.138-1.633-.806-1.886-.897-.253-.092-.437-.138-.621.138-.184.276-.713.897-.874 1.081-.161.184-.322.207-.598.069-.276-.138-1.169-.431-2.227-1.374-.824-.735-1.38-1.642-1.541-1.918-.161-.276-.017-.426.121-.563.124-.123.276-.322.414-.483.138-.161.184-.276.276-.46.092-.184.046-.345-.023-.483-.069-.138-.621-1.496-.851-2.048-.224-.543-.471-.468-.644-.476l-.552-.012c-.184 0-.483.069-.736.345-.253.276-.966.943-.966 2.3 0 1.357.989 2.668 1.127 2.852.138.184 1.944 2.969 4.709 4.159.658.283 1.171.452 1.57.579.661.21 1.262.181 1.737.11.53-.081 1.633-.667 1.863-1.311.23-.644.23-1.196.161-1.311z" />
  </svg>
</a>
